all/0
all/0.*
all/1*
all/2*
all/3*
all/4*
all/5*
all/6*
all/7*
all/8*
all/9*

leftWing/constant/polyMesh
leftWing/0
rightWing/constant/polyMesh
rightWing/0
body/constant/polyMesh
body/0

all/constant/polyMesh
all/postProcessing
